* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

.container {
  width: 100%;
  padding: 2rem 6rem;
  overflow: hidden;
}

/* Utils */
.text-primary {
  color: #425b84;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: #425b84;
  color: #fff;
}

.l-heading {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem 0;
}
.p-2 {
  padding: 2rem 0;
}
.p-3 {
  padding: 3rem 0;
}

.intro {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #5b7bb4;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 20px;
}

.btn:hover {
  background: #425b84;
}

.social a i:hover {
  color: #425b84;
}

/* Navbar */
#navbar {
  background: transparent;
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #5b7bb4;
  border-radius: 5px;
}

/* Home */
#home {
  background: url("src/images/Home.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#home .home-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
}

.social a i {
  color: #fff;
  background: transparent;
  padding: 1rem 0.5rem;
}

/* About Me */

#about .container {
  display: flex;
  background-color: #fff;
  color: #5b7bb4;
  width: 100%;
}

#about div {
  flex: 1;
}

.about .about-text h1 {
  padding-bottom: 1rem;
}

/* Portfolio */

.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0 0.3);
}

.project a img {
  width: 100%;
  border: 3px #fff solid;
}

.project a img:hover {
  opacity: 0.5;
}

/* Skills */

#skills .items {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 6rem;
}
#skills .skills-wrapper h1 {
  color: #5b7bb4;
}

#skills .skills-wrapper h1 {
  color: #5b7bb4;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Footer */
#footer .contact {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 2rem;
}

#footer .contact a {
  padding: 0.5rem;
  color: #fff;
}
#footer .contact a:hover {
  color: #5b7bb4;
}

#footer .con-text {
  text-align: center;
  padding-top: 1rem;
}

/* Smartphone */
@media (max-width: 1141px) {
  #navbar {
    align-items: center;
    justify-content: center;
  }

  #about .container {
    display: block;
    padding: 0 3rem;
  }
  #about .container .prof-pic img {
    display: none;
  }

  #about .container .about-text h1 {
    padding-bottom: 3rem;
  }
}

@media (max-width: 760px) {
  #skills .skills-wrapper .items {
    flex-direction: column;
    padding: 1rem 3rem;
  }
  #skills .skills-wrapper .items img {
    padding: 1rem 3rem;
  }
}
